.about_img-container {
  @include backgroundImage(45vh, url(../../img/about.jpg), top);
}

.about {
  &__text {
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
    color: #b49a29;
    padding: 3rem 5rem;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    .card {
      padding: 2rem;
      color: darkblue;
      background-color: $yellow-color;
      margin: 2rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__year {
        font-size: 2.4rem;
      }

      &__team {
        font-size: 2.4rem;
      }

      &__text {
        font-size: 1.8rem;
        line-height: 1.3;
      }
    }
  }
}
