.img-container {
  @include backgroundImage(100vh, url(../../img/Home.webp), center);
}

.home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // @include center(50%, 50%);

  .header-box {
    padding: 1rem;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 1.2;
    h2 {
      font-size: 2.4rem;
    }
    h1 {
      font-size: 8rem;
    }
  }
}
