.career_img-container {
  @include backgroundImage(50vh, url(../../img/career.jpg), top);
}

.career {
  padding: 0 5rem;
  .gallery {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .img__box {
      width: 30rem;
      height: 30rem;
      border: 2px solid #fff;
      border-radius: 1rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        object-fit: cover;
      }
    }
  }
}

.top {
  background-position: top;
}
