@include media-xlg {
}

@include media-lg {
}

@include media-md {
  footer.vertical {
    .about_icon-box {
      font-size: 2.4rem;
    }
  }

  .about {
    &__text {
      font-size: 1.8rem;
    }

    &__cards {
      .card {
        &__year {
          font-size: 2.2rem;
        }
      }
    }
  }
}

@include media-sm {
  .navbar {
    justify-content: center;

    &__link {
      font-size: 2rem;
    }
  }

  .home {
    .header-box {
      h2 {
        font-size: 2.2rem;
      }
      h1 {
        font-size: 6rem;
      }
    }
  }

  .about {
    &__text {
      text-align: justify;
      font-size: 1.6rem;
    }

    &__cards {
      .card {
        padding: 2rem;
        &__year {
          font-size: 2rem;
        }
      }
    }
  }

  .contact {
    &__box {
      font-size: 1.8rem;
    }
  }

  @include media-xs {
    .navbar {
      justify-content: center;

      &__link {
        font-size: 1.8rem;
      }
    }

    .home {
      .header-box {
        h2 {
          font-size: 2rem;
        }
        h1 {
          font-size: 5rem;
        }
      }
    }

    footer.horizontal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .icon-box {
        font-size: 2.4rem;
      }

      .copyright {
        font-size: 1.4rem;
        letter-spacing: 0.3rem;
      }
    }

    .about {
      &__text {
        padding: 3rem 6rem;
      }

      &__cards {
        .card {
          padding: 2rem 1rem;

          &__year {
            font-size: 1.8rem;
          }

          &__team {
            font-size: 2.2rem;
          }

          &__text {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  @include media-xxs {
    .navbar {
      justify-content: center;

      &__link {
        font-size: 1.4rem;
      }
    }

    .about {
      &__cards {
        .card {
          &__year {
            font-size: 1.8rem;
          }

          &__team {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}
