@mixin backgroundImage($height, $url) {
  height: $height;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)
    ),
    $url;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

@mixin iconNormal {
  text-decoration: none;
  color: #fff;
  transition: $transition;
}

@mixin iconHover {
  transform: scale(1.1) translateY(-3px);
  color: $yellow-color;
}
