@mixin backgroundImage($height, $url, $position) {
  height: $height;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ),
    $url;
  background-position: $position;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

@mixin iconNormal {
  text-decoration: none;
  color: #fff;
  transition: $transition;
}

@mixin iconHover {
  transform: scale(1.1) translateY(-3px);
  color: $yellow-color;
}

/* ---------------------------------- */
/*          RESPONSIVE DESIGN         */
/* ---------------------------------- */

@mixin media-xlg {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (max-width: 840px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin media-xs {
  @media screen and (max-width: 470px) {
    @content;
  }
}

@mixin media-xxs {
  @media screen and (max-width: 430px) {
    @content;
  }
}
